<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="header">
        <h1 class="display-4">Bienvenido a nuestra Aplicación</h1>
        <p class="lead">Gestiona tus tareas de manera eficiente.</p>
    </div>
    <div>
        <a href="/tasks/create" class="btn btn-custom">Registrar Tarea</a>
        <a href="/tasks/list" class="btn btn-custom">Ver Tareas</a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>
</html>
